.collapsable-container {
  height: auto;

  padding: 0;

  background-color: var(--background-contrast);
  border-bottom: solid 1px var(--accent);
  /* animation-name: expand; */
  /* animation-duration: 1s; */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  width: 5%;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: var(--foreground-contrast);
}

button:hover i {
  color: white;
}

button:focus {
  outline: none;
}

.collapse {
  height: 0;
  /* animation-name: collapse; */
  /* animation-duration: 1s; */
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 10px;

  border-bottom: solid 1px var(--accent);

  width: 100%;
}

/* WHY DONT YOU WORK!?!??!!??! */
@keyframes collapse {
  from {
    height: auto;
  }
  to {
    height: 0%;
  }
}

@keyframes expand {
  from {
    height: 0%;
  }
  to {
    height: auto;
  }
}
