@namespace TrouvailleFrontend.Components.Shared

<div class="main-container main-container-style">
    <h4>Additional Filtering Options</h4>
    @ChildContent
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}