@namespace TrouvailleFrontend.Components.Shared

<div class="main-container main-container-style">
    <h4>@Header</h4>
    @ChildContent
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Header { get; set; } = "Header";
}