@namespace TrouvailleFrontend.Components.Account

<div class="account-data">

    <div class="information-wrapper">
        <UserAddress />
    </div>
    <div class="information-wrapper">
        <UserData />
    </div>

</div>