@namespace TrouvailleFrontend.Components.Account

@using TrouvailleFrontend.Components.Checkout

<div class="account-data">

    <div class="information-wrapper">
        <UserAddress ForForm="user-data-form" />
    </div>
    <div class="information-wrapper">
        <UserData />
    </div>

</div>

@code {
    [CascadingParameter]
    private UserModel _userData { get; set; }

    protected override void OnInitialized()
    {
    }
}