@namespace TrouvailleFrontend.Components.Account

<div class="account-settings">
    <div class="information-wrapper">
        <UserEmail />
    </div>
    <div class="information-wrapper">
        <UserPassword />
    </div>
</div>