.delete {
  display: flex;
  justify-content: center;

  align-items: stretch;
  flex-direction: column;

  gap: 10px;

  padding: 20px;

  transition: 0.2s;
}

::deep input {
  width: 100%;
}

.changing {
  box-shadow: 0 0 3px 1px red !important;
}

.danger {
  box-shadow: 0 0 3px 1px red;
}

.danger-zone {
  align-self: center;
  text-align: center;
  color: red;
}
