@namespace TrouvailleFrontend.Components.Index

@using Blazorise
@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes.Functional

@inject NavigationManager NavMan

<div class="product">
    <img class="product-picture center-flex" src="data:image/png;base64,@Product.Picture.ImageData"
        alt="Image loading Error">
    <div class="info-wrapper">
        <div class="product-name info-field">
            <p>@Product.Name</p>
        </div>
        <div class="product-stars info-field">
            @for (int i = (_starsMax - Product.Rating); i < _starsMax; i++)
            {
                <Icon Name="IconName.Star" class="colored" />
            }
            @for (int i = 0; i < _starsMax - Product.Rating; i++)
            {
                <Icon Name="IconName.Star" class="transparent" />
            }


        </div>
        <div class="product-cost info-field">
            <h4><b>@_cost</b></h4>
        </div>
        <div class="product-amount-left info-field">
            <p>@StockConverter.ParseStockToString(Product.InStock)</p>
        </div>
        @* <div class="product-short-info info-field">
            <p>@Product.Description</p>
            </div> *@
        <div class="to-product info-field">
            <button class="button-style" @onclick="NavigateToProduct">To Product</button>
            <div class="arrow"></div>
        </div>
    </div>
</div>

@code{
    private int _starsMax = 5;

    private string _cost;

    [Parameter]
    public ProductModel Product { get; set; }

    protected override void OnInitialized()
    {
        _cost = String.Format("{0:C}", Product.Price);
    }



    private void NavigateToProduct()
    {
        NavMan.NavigateTo($"/product/{Product.ProductId}");
    }
}
