.size-wrapper {
  width: 23%;

  height: 400px;
}
.product {
  display: flex;

  align-content: center;
  justify-content: flex-start;
  flex-direction: column;

  /* width: 98%; */
  /* height: 98%; */

  width: 100%;
  height: 100%;

  color: black;
  font-size: 1.2rem;

  transition: 0.5s;

  border-bottom: solid 2px var(--accent);

  background: linear-gradient(155deg, var(--foreground-contrast) 15%, var(--background) 45%, transparent 100%);
}

.product:hover {
  transition: 0.5s;
  box-shadow: 1px 1px 4px 5px rgba(209, 208, 208, 0.349);

  transform: translateY(-5px);
}

.product:hover {
  transition: 0.5s;
}

.product-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding-top: 10px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-picture {
  display: flex;

  width: auto;
  height: 200px;

  object-fit: contain;
}

.info-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 0.5fr);
  gap: 2px;

  width: 60%;
  width: 100%;
  height: 100%;
}

::deep .stars {
  font-size: 15px;
}

.info-field {
  display: flex;

  max-height: 100%;
  overflow: hidden;
}

p {
  padding: 0;
  height: 100%;
}

::deep .info-field > p {
  width: 100%;
  text-align: center;
}

.product-name {
  grid-row: 2;
  grid-column: span 5;
}

.product-name > b {
  text-align: center;
  width: 100%;

  max-height: 70px;

  font-size: 1.5rem;
}

.product-cost {
  display: flex;
  justify-items: center;
  align-items: center;

  grid-row: 1;
  grid-column: 4 / 6;

  color: var(--foreground-contrast);
}

.product-cost > b {
  width: 100%;
  text-align: center;

  height: auto;

  margin: 0;
}

::deep .product-stars {
  grid-row: 1;
  grid-column: 1 / 4;

  gap: 5px;

  justify-content: center;

  color: var(--foreground);
}

.product-amount-left {
  grid-row: 3;
  grid-column: span 5;

  color: var(--foreground-contrast);
}

.product-amount-left > p {
  font-size: 13px;
}

.to-product {
  grid-row: 4;
  grid-column: 2 / 5;
  grid-column: span 5;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-top: 4px;
  padding-bottom: 4px;

  overflow: visible;
}

.to-product > button {
  width: 100%;
  height: 36px;
}
