@namespace TrouvailleFrontend.Components.Index

@using Blazorise
@using TrouvailleFrontend.Components.Shared
@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes.Functional

@inject NavigationManager NavMan

<div class="size-wrapper" @onclick="NavigateToProduct">
    <div class="product main-container-style">
        <div class="product-picture-wrapper">
            <img class="product-picture center-flex" src="data:image/png;base64,@Product.Picture.ImageData"
                alt="Image loading Error" style="overflow: hidden;">
        </div>
        <div class="info-wrapper">
            <div class="product-name info-field">
                <b>@Product.Name</b>
            </div>
            <StarsView Product=Product Classes="product-stars info-field" />
            <div class="product-cost info-field">
                <b>@_cost</b>
            </div>
            <div class="product-amount-left info-field">
                <p>@StockConverter.ParseStockToString(Product.InStock)</p>
            </div>
        </div>
    </div>
</div>

@code{
    private string _cost;

    [Parameter]
    public ProductModel Product { get; set; }

    protected override void OnInitialized()
    {
        _cost = String.Format("{0:C}", Product.Price);
    }

    private void NavigateToProduct()
    {
        NavMan.NavigateTo($"/product/{Product.ProductId}");
    }
}
