<div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 400px; gap: 20px">

    <label><input type="checkbox" @bind-value=Ascending @bind-value:event="onclick">Sort by ascending cost</label>

</div>

@code{
    [Parameter]
    public bool Ascending { get; set; }
    [Parameter]
    public EventCallback<bool> AscendingChanged { get; set; }
}