<div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 400px; gap: 20px">

    <label><input type="checkbox">search opt. 1</label>
    <label><input type="checkbox">search opt. 2</label>
    <label><input type="checkbox">search opt. 3</label>
    <label><input type="checkbox">search opt. 4</label>

</div>