@namespace TrouvailleFrontend.Components.Checkout

<div class="adress">
    <div class="land"></div>
    <div class="post-code"></div>
    <div class="city"></div>
    <div class="street"></div>
    <div class="street-number"></div>
</div>

@code{

}