.products-overview-under {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: auto;
  width: 100%;

  padding-top: 10px;

  border: solid 1px black;
}

.total {
  display: flex;
  align-items: center;

  height: 50px;
  width: 20%;

  border: solid 2px red;
}

p {
  margin: 0;
}
