@namespace TrouvailleFrontend.Components.Checkout

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Components.Shared

<div class="main-container-style">
    <CollapseAccordion Name="Products Overview" IconClasses="fas fa-shopping-basket" IconEnable=true>
        @if (Products != null && ItemData != null)
        {
            @for (int i = 0; i < Products.Count(); i++)
            {
                <ProductView Name=@Products[i].Name Price=@Products[i].Price Stock=@Products[i].InStock
            Cardinality=@ItemData[i].Cardinality Picture=@Products[i].Picture />
            }
        }
    </CollapseAccordion>
    <div class="products-overview-under">
        <div class="total">
            <b>Total: @_totalPrice</b>
        </div>
    </div>
</div>

@code{
    private string _totalPrice;
    [Parameter]
    public double TotalPrice { get; set; }
    [Parameter]
    public List<ProductModel> Products { get; set; }
    [Parameter]
    public List<ShoppingCartItemModel> ItemData { get; set; }

    protected override void OnParametersSet()
    {
        _totalPrice = String.Format("{0:C}", TotalPrice);
    }
}
