@namespace TrouvailleFrontend.Components.Checkout

@using TrouvailleFrontend.Shared.Models

<div>
    <CollapseAccordion Name="Products Overview">
        @if (Products != null && ItemData != null)
        {
            @for (int i = 0; i < ItemData.Count(); i++)
            {
                <ProductView Name=@Products[i].Name Price=@Products[i].Price Stock=@Products[i].Stock
            Cardinality=@ItemData[i].Cardinality />
            }
        }
    </CollapseAccordion>
    <div class="products-overview-under">
        <div class="total">
            <p>Total: @_totalPrice</p>
        </div>
    </div>
</div>

@code{
    private string _totalPrice;

    [Parameter]
    public List<ProductModel> Products { get; set; }
    [Parameter]
    public List<ShoppingCartItemModel> ItemData { get; set; }

    protected override void OnParametersSet()
    {
        double tempTotal = 0;

        for (int i = 0; i < 3; i++)
        {
            if (ItemData != null) tempTotal += ItemData[i].Cardinality * Products[i].Price;
        }

        _totalPrice = String.Format("{0:C}", tempTotal);
    }
}
