.product-view {
  /* display: grid; */

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;

  grid-template-columns: 0.3fr minmax(0, 2fr) minmax(0, 1.2fr) repeat(2, minmax(0, 1fr));

  gap: 30px;

  margin-top: 10px;
  margin-bottom: 10px;

  width: 100%;
}

.product-view > * {
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
}

p {
  margin: 0;

  width: 100%;

  text-align: center;

  font-size: 1.2rem;
}

img {
  grid-column: 1;
  display: flex;

  width: 100px;

  object-fit: contain;
}

.product-view p {
  font-size: 1.5rem;
}

.product-view p,
.product-view b {
  border-bottom: solid 1px var(--accent);
}

.name {
  grid-column: 2;
  /* font-size: 1.5rem; */

  white-space: nowrap;
  overflow-y: clip;
  text-overflow: ellipsis;
}

.price {
  grid-column: 3 / 4;
}

.cardinality {
  grid-column: 4;
}

.stock {
  grid-column: 5;
}
