@namespace TrouvailleFrontend.Components.Checkout

@using TrouvailleFrontend.Shared.Models


<div class="radio-group-container">
    <h4>Shipping Method</h4>
    <div class="radio-container">
        <InputRadioGroup @bind-Value=ShippingMethod>
            @foreach (var method in (ShipmentMethod[])Enum.GetValues(typeof(ShipmentMethod)))
            {
                <div class="radio-wraper">
                    <InputRadio id="@method" Value="@method" />
                    <label for="@method">@method</label>
                </div>
            }
        </InputRadioGroup>
    </div>
</div>

@code{
    [Parameter]
    public ShipmentMethod ShippingMethod { get; set; }
    [Parameter]
    public EventCallback<ShipmentMethod> ShippingMethodChanged { get; set; }
}