<div class="border">
    <div class="main-wrapper">
        <div class="cost">
            <b>
                Price: @_totalPrice <br />
                <small>without tax: @_totalPriceWithoutTax</small><br />
                <small>the tax:@_pureTax</small>
            </b>
        </div>
        <div class="order-info">
            <ul>
                <li>By ordering you comply with our services and conditions</li>
                <li>legal info</li>
                <li>legal info</li>
                <li>legal info</li>
                <li>legal info</li>
            </ul>
        </div>

        <button type="submit" form="@ForForm" class="button-style">Submit Order</button>
    </div>
</div>


@code {
    private string _pureTax;
    private string _totalPrice;
    private string _totalPriceWithoutTax;

    [Parameter]
    public string ForForm { get; set; }
    [Parameter]
    public decimal TotalPriceWithoutTax { get; set; }
    [Parameter]
    public decimal TotalPrice { get; set; }

    protected override void OnParametersSet()
    {
        _pureTax = CurencyManager.ParseToCurency(TotalPrice - TotalPriceWithoutTax);
        _totalPrice = CurencyManager.ParseToCurency(TotalPrice);
        _totalPriceWithoutTax = CurencyManager.ParseToCurency(TotalPriceWithoutTax);
    }
}