@namespace TrouvailleFrontend.Components.Account

@using TrouvailleFrontend.Components.Checkout

@inject IProductsRetriever productsRetriever

<div class="order-view main-container-style">

    <h4><b>Order of:</b> @Order.Date.ToLongDateString()</h4>
    <div class="short-data">
        @if (Order != null)
        {
            <OrderShort Order=@Order />
        }
    </div>
    <CollapseAccordion Name="Products" CallbackOnOpen=@LoadDetailsAsync>
        <div class="content">
            @if (!_loaded)
            {
                <div class="loading-spinner"></div>
            }
            else
            {

                @for (int i = 0; i < _products.Count(); i++)
                {
                    <ProductView Name=@_products[i].Name Price=@_products[i].Price Stock=@_products[i].InStock
                Cardinality=@_itemData[i].Cardinality Picture=@_products[i].Picture />
                }
            }
        </div>

    </CollapseAccordion>
    <div class="under-products ">
        <div class="cost">
            <b>Total: @_cost</b>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public SmallOrderModel Order { get; set; }
    private List<ProductModel> _products;
    private List<ShoppingCartItemModel> _itemData;
    private bool _loaded = false;
    private string _cost;

    protected override void OnParametersSet()
    {
        _cost = String.Format("{0:C}", Order.TotalCost);
    }

    private async void LoadDetailsAsync()
    {
        if (!_loaded)
        {
            StateHasChanged();

            _itemData = Order.Products;

            _products = await productsRetriever.GetProductsByIdAsync(_itemData);


            _loaded = true;

            StateHasChanged();
        }
    }

}
