@using TrouvailleFrontend.Components.Account

@page "/account"

<div class="main-container-style">
    <TabControl>
        <CustomTab Name="My Account">
            hi 1
        </CustomTab>
        <CustomTab Name="Orders">
            hi 2
        </CustomTab>
        <CustomTab Name="Settings">
            hi 3
        </CustomTab>
    </TabControl>
</div>

@code{

}