@page "/account"

@using TrouvailleFrontend.Components.Shared

<div class="main-container-style">
    <CascadingValue Value="@_userModel">
        <TabControl>
            <CustomTab Name="My Account">
                <AccountMain />
            </CustomTab>
            <CustomTab Name="Orders">
                hi 2
            </CustomTab>
            <CustomTab Name="Settings">
                hi 3
            </CustomTab>
        </TabControl>
    </CascadingValue>
</div>

@code {
    private UserModel _userModel;

    protected override void OnInitialized()
    {
        _userModel = new();
    }
}