.content {
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "content side";
  gap: 10px;

  min-height: 100vh;
  height: 100%;

  padding-top: 20px;
}

::deep form {
  grid-area: content;

  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  width: 100%;

  padding-bottom: 10px;

  padding-left: 5%;
  padding-right: 5%;
}

::deep form i {
  color: var(--foreground-contrast);
  width: 50px;
  text-shadow: -2px 2px 8px rgba(132, 224, 252, 0.774);
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0;

  height: auto;

  padding: 10px;
}

.addresses > label {
  margin-top: 10px;
}

.addresses-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 0;

  height: auto;
}

.side-menu {
  grid-area: side;

  height: 100%;
  width: 100%;
}

::deep .radio-container {
  display: flex;
  gap: 20px;

  width: 100%;
}

::deep .radio-group-container {
  padding: 10px;
}

::deep .radio-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

::deep .radio-container label {
  display: inline-block;

  background-color: var(--background-contrast);

  font-size: 16px;

  padding: 0.5rem 0.5rem;

  width: 5vw;

  box-shadow: 1px 1px 4px 0px rgba(136, 136, 136, 0.521);
}

::deep .radio-container input[type="radio"]:checked + label {
  background-color: var(--foreground-contrast);
  color: white;
}

::deep .radio-container input[type="radio"]:hover + label {
  background-color: var(--background);
  color: black;
}
