@page "/checkout"

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes
@using TrouvailleFrontend.Components.Checkout
@using System.Net.Http

@inject ILocalStorage local
@inject HttpClient http

<div class="page">
    <div class="content">

        <EditForm Model="@_order" OnValidSubmit="PostOrder">
            <DataAnnotationsValidator />

            <div class="addresses">
                <div class="addresses-input-wrapper">
                    <Address AddressFor="Invoice Address" @bind-AddressM="_order.InvoiceAddress" />
                    <Address AddressFor="Delivery Address" @bind-AddressM="_order.DeliveryAddress"
                        IsDisabled=@IsDeliverySameInvoice />
                </div>
                <label for="address-equal-chck">
                    <InputCheckbox id="address-equal-chck" @bind-Value=IsDeliverySameInvoice />
                    Delivery address same as Invoivce address
                </label>
            </div>

            <Payment @bind-PaymentMethod=_order.PaymentMethod />

            <Shipping @bind-ShippingMethod=_order.ShipmentMethod />

            @* </div>
                <div class="products-view">
                </div>*@
            @* <button type="submit">gg</button> *@
        </EditForm>
    </div>
    <div class="side-menu">
        @* <div class="sticky-container"></div> *@
    </div>
</div>


@code{
    @* public EventCallback<AddressModel> AddressMChanged { get; set; } *@

    public bool IsDeliverySameInvoice { get; set; } = true;

    private OrderModel _order = new();
    private List<ShoppingCartItemModel> _products { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _products = await local.GetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart");
    }
    protected async Task PostOrder()
    {
        //TODO if IsDeliverySameInvoice => delivery = invoice
        _products = await local.GetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart");
        Console.WriteLine(_order.DeliveryAddress);
    }
}