.page {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "content side";
  gap: 10px;

  height: 100%;
}

.content {
  grid-area: content;

  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-items: center; */

  height: 100%;
  width: 100%;

  border: solid 2px red;
}

.addresses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 0;
}

.side-menu {
  grid-area: side;

  height: 100%;
  width: 100%;

  border: solid 2px red;
}
