@page "/checkout"

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes
@using TrouvailleFrontend.Components.Checkout
@using System.Net.Http

@inject ILocalStorage local
@inject HttpClient http

<div class="page">
    <div class="content">
        <div class="addresses">
            <Address AddressFor="Billing Address" @bind-AddressM="_adresses[0]" />
            <Address AddressFor="Delivery Address" @bind-AddressM="_adresses[1]" />
        </div>
        @* <div class="payment">
            </div>
            <div class="sent-methode">
            </div>
            <div class="products-view">
            </div> *@

    </div>
    <div class="side-menu">
        @* <div class="sticky-container"></div> *@
    </div>
</div>


@code{
    @* TODO: Theese will change, namely will be stored in LocalStorage *@
    private AddressModel[] _adresses = {new AddressModel(), new AddressModel()};
    @* TODO: *@
    private List<ShoppingCartItem> _products { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _products = await local.GetStorageAsync<List<ShoppingCartItem>>("shoppingCart");
    }
}