@page "/forgotPassword"

@using TrouvailleFrontend.Shared.Models

@inject ILogin loginer
@inject NavigationManager navMan
@inject IErrorHandler errorHandler

<div class="login-content">
    <div class="form">
        <EditForm Model="@_loginModel" class="main-container-style" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator />
            <div>
                <label for="email">Email: </label><br />
                <InputText id="email" type="email" @bind-Value=_loginModel.Email
                    @bind-Value-oninput=_loginModel.Email />
            </div>
            <button type="submit" class="button-style">Log in
                <Icon Name="IconName.Key" />
            </button>
            <div class="overlay-under-construction">
                <p>Under Construction</p>
            </div>
        </EditForm>
    </div>
</div>


<CustomModal @ref=_modal Name="Login" />

@* <div> *@

@code {
    private CustomModal _modal;
    private LoginModel _loginModel = new LoginModel();



    private async Task LoginAsync()
    {
        _modal.AwaitingResponse = true;

        _modal.Success = await loginer.LoginAsync(_loginModel);

        if (_modal.Success)
        {
            _modal.Modal.Hide();
            navMan.NavigateTo("/", forceLoad: true);
        }
        else
        {
            _modal.ErrorMessage = errorHandler.GetLastErrorString();
        }

        _modal.AwaitingResponse = false;
    }
}