.page {
  display: grid;

  width: 100%;
  height: 100%;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100%;
  grid-template-areas: "side" "main";
  gap: 10px;
}

.side-panel {
  grid-area: "side";

  width: 100%;
  height: 100%;

  border: solid 2px red;
}

.main-container {
  grid-area: "main";

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;


  width: 100%;
  height: 100%;

  border: solid 2px blue;
}

.main-container > div {
  margin: 10px;
}
