@page "/"

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Components.Index
@using TrouvailleFrontend.Components.Shared
@using TrouvailleFrontend.Shared.Classes

@inject IProductIterator iterator

<div class="page">
    <div class="side-panel">
        <SideMenu>
            content
        </SideMenu>
    </div>
    <div class="main-container">

        @if (_products != null)
        {
            @foreach (ProductModel p in _products)
            {
                <ProductSmall product=p />
            }
        }

    </div>
    <div class="indexed-navigation">
        <button @onclick="prev" disabled="@_prevButton">prev</button>
        <div class="page-numbers-container">
            @if (_numbers != null)
            {
                @for (int i = 1; i <= (_numbers.NumberOfProduct / _numbers.NumberProductsPerIteration) + 1; i++)
                {
                    var temp = i - 1;
                    <div class="page-number" @onclick="()=>ChangeToIndex(temp)">@i</div>
                }
            }
        </div>
        <button @onclick="next" disabled="@_nextButton">next</button>
    </div>
</div>

@code{
    private List<ProductModel> _products;
    private ProductsNumbersModel _numbers;

    private bool _nextButton = false;
    private bool _prevButton = false;

    protected override async Task OnInitializedAsync()
    {
        _products = await iterator.GetProductIndexedAsync(iterator.GetIndex());
        _numbers = iterator.GetProductNumbers();
    }

    private async void next()
    {
        var temp = await iterator.GetNextProductsAsync();

        if (temp == null) _nextButton = true;
        else _products = temp;

        if (_prevButton) _prevButton = false;
        this.StateHasChanged();
    }

    private async void prev()
    {
        var temp = await iterator.GetPreviousProductsAsync();

        if (temp == null) _prevButton = true;
        else _products = temp;

        if (_nextButton) _nextButton = false;
        this.StateHasChanged();
    }

    private async void ChangeToIndex(int index)
    {
        _products = await iterator.GetProductIndexedAsync(index);
        if (_nextButton) _nextButton = false;
        if (_prevButton) _prevButton = false;
        this.StateHasChanged();
    }
}
