@page "/"

<div class="page">
    <div class="side-panel">
        <IndexSideMenu />
    </div>
    <div class="main-container center-flex-horizontal">
        @for (int i = 0; i < 39; i++)
        {
            @if (i % 2 == 0)
            {
                <div class="collumn">
                    <ProductSmall />
                </div>
            }
            else
            {
                <div class="collumn">
                    <ProductSmall />
                </div>
            }
        }
    </div>
</div>