@* @using System.Net.Http.Json *@
@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Components.Index
@using TrouvailleFrontend.Shared.Classes


@* @inject HttpClient Http *@
@inject IProductIterator iterator

@page "/"


<div class="page">
    <div class="side-panel">
        <SideMenu />
    </div>
    <div class="main-container">

        @if (_products != null)
        {
            @foreach (Product p in _products)
            {
                <ProductSmall product=p />
            }
        }

    </div>
</div>

@code{
    private List<Product> _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await iterator.GetNextProductsAsync();
    }
}
