@page "/"

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Components.Index
@using TrouvailleFrontend.Shared.Classes

@inject IProductIterator iterator

<div class="page">
    <div class="side-panel">
        <SideMenu />
    </div>
    <div class="main-container">

        @if (_products != null)
        {
            @foreach (Product p in _products)
            {
                <ProductSmall product=p />
            }
        }

        <button @onclick="next">next</button>
        <button @onclick="prev">prev</button>
    </div>
</div>

@code{
    private List<Product> _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await iterator.GetNextProductsAsync();
    }

    protected async Task next(){
        _products = await iterator.GetNextProductsAsync();
    }

     protected async Task prev(){
        _products = await iterator.GetPreviousProductsAsync();
    }
}
