@page "/"

@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Components.Index
@using TrouvailleFrontend.Shared.Classes

@inject IProductIterator iterator

<div class="page">
    <div class="side-panel">
        <SideMenu />
    </div>
    <div class="main-container">

        @if (_products != null)
        {
            @foreach (Product p in _products)
            {
                <ProductSmall product=p />
            }
        }

    </div>
    <div class="indexed-navigation">
        <button @onclick="prev">prev</button>
        <div class="page-numbers-container">
            @if (_numbers != null)
            {
                @for (int i = 1; i <= (_numbers.NumberOfProduct / _numbers.NumberProductsPerIteration) + 1; i++)
                {
                    var temp = i - 1;
                    <div class="page-number" @onclick="()=>ChangeToIndex(temp)">@i</div>
                }
            }
        </div>
        <button @onclick="next">next</button>
    </div>
</div>

@code{
    private List<Product> _products;
    private ProductsNumbers _numbers;

    protected override async Task OnInitializedAsync()
    {
        _products = await iterator.GetNextProductsAsync();
        _numbers = await iterator.GetProductNumbersAsync();
    }

    private async void next()
    {
        _products = await iterator.GetNextProductsAsync();
        this.StateHasChanged();
    }

    private async void prev()
    {
        _products = await iterator.GetPreviousProductsAsync();
        this.StateHasChanged();
    }

    private async void ChangeToIndex(int index)
    {
        _products = await iterator.GetProductIndexedAsync(index);
        this.StateHasChanged();
    }
}
