@page "/"

<div class="page">
    <div class="side-panel">
        <IndexSideMenu />
    </div>
    <div class="main-container">
        @for (int i = 0; i < 7; i++)
        {
            <ProductSmall Name="Product name" Cost=22.4€ ShortInfo="Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Nam non pariatur perferendis quo 
            tempore tempora autem consequuntur, magni recusandae 
            optio velit, incidunt iste reprehenderit quas? Velit, 
            impedit. Laboriosam, aperiam architecto." Stars=5 Amount=6 />
        }
    </div>
</div>