@page "/login"

@using System.Net;
@using TrouvailleFrontend.Shared.Models;

@inject ILogin loginer


<div class="page">
    <h1>LOGIN PAGE</h1>
</div>

@code{
    private bool _isSuccess;

    protected override async Task OnInitializedAsync()
    {
        //TODO TEMP DATA
        LoginModel loginData = new LoginModel() { email = "yavuz@hotmail.com", password = "String.1" };

        @*
            TokenModel token_test = new TokenModel() { AuthToken = "TokenVBalue", expireDate = DateTime.Today.AddDays(5) };
            await localStorage.SetStorageAsync<TokenModel>("authToken", token_test);
        *@

        _isSuccess = await loginer.loginAsync(loginData);
    }
}