.product {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 300px auto;
  grid-template-areas: "image description controls" "rating rating rating";

  column-gap: 10px;
  row-gap: 30px;
}

.product > * {
  padding: 10px;
}

.product-image {
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.product-description {
  grid-area: description;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-name {
  align-self: center;
  text-align: center;

  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;

  width: 28vw;
  height: 65px;

  border-bottom: solid 1px var(--accent);
}

.description-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  width: 100%;

  border-bottom: solid 1px var(--accent);
}

.product-controls {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: 30px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.product-controls > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 30px;
}

.price {
  grid-column: 1 / 2;
  grid-row: 1;
}

.stars {
  grid-column: 2 / 3;
  grid-row: 1;
}

.stock {
  grid-column: 1 / 2;
  grid-row: 2;

  justify-content: flex-end;

  border-right: solid 1px var(--accent);
}

.number-in-shopping-cart {
  grid-column: 2 / 3;
  grid-row: 2;
}

::deep .number-in-shopping-cart i {
  color: var(--foreground-contrast);
  margin-right: 10px;
}

.to-shopping-cart {
  grid-column: 1 / 3;
  grid-row: 3;
}

.to-shopping-cart > button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 2rem;
  width: 100%;

  padding: 5px;
}

::deep .product-controls > * {
  width: 100%;
}

::deep .product-stars {
  justify-content: flex-start;
  font-size: 1.8rem;
}

h2 {
  margin: 0;
  padding: 0;
}

.product-rating {
  grid-area: rating;

  position: relative;

  padding: 0;

  height: 100vh;
  width: 100%;
}
