.page {
  padding-left: 200px;
  padding-right: 200px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 200px auto;
  grid-template-areas: "image controls" "description description" " rating rating";

  column-gap: 10px;
  row-gap: 30px;
}

.product > * {
  padding: 10px;
}

.product-image {
  grid-area: image;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.product-description {
  grid-area: description;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-bottom: solid 2px var(--accent);
}

.description-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
  width: 100%;

  /* border-bottom: solid 1px var(--accent); */
}

.product-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.product-controls > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 30px;
}

.product-name {
  grid-column: 1 / 3;
  grid-row: 1;

  display: flex;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding: 0;

  max-height: 100px;
}

.product-name > h2 {
  text-align: center;

  max-height: 100px;
  width: 100%;

  overflow: clip;

  font-weight: 900;

  border-bottom: solid 1px var(--accent);
}

.price {
  grid-column: 1 / 2;
  grid-row: 2;
}

.stars {
  grid-column: 2 / 3;
  grid-row: 2;
}

.stock {
  grid-column: 1 / 2;
  grid-row: 3;

  justify-content: flex-end;

  border-right: solid 1px var(--accent);
}

.stock > * {
  color: var(--foreground-contrast);
  font-weight: 600;
}

.number-in-shopping-cart {
  grid-column: 2 / 3;
  grid-row: 3;
}

::deep .number-in-shopping-cart i {
  color: var(--foreground-contrast);
  margin-right: 10px;
}

.to-shopping-cart {
  grid-column: 1 / 3;
  grid-row: 4;
}

.to-shopping-cart > button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 2rem;
  width: 100%;

  padding: 5px;
}

::deep .product-controls > * {
  width: 100%;
}

::deep .product-stars {
  justify-content: flex-start;
  font-size: 1.8rem;
}

h2 {
  margin: 0;
  padding: 0;
}

.product-rating {
  grid-area: rating;

  position: relative;

  padding: 0;

  height: 100vh;
  width: 100%;
}
