@page "/product/{Id}"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using TrouvailleFrontend.Shared.Models;
@using System.Net.Http.Headers;
@using System.Text.Json
@using System.Collections.Generic;


<div>
    <div class="product">

        <div class="productLeft">
            <div class="pImage">
                <img class="pLogo" src="assets/svg/trouvailleLogoBucketMinimized.svg" alt="">
            </div>
        </div>

        <div class="productMiddle">
            <div class="productName">
                <h1>Produktname ID: @Id</h1>
            </div>
            <div class="productDesciption">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vitae facere id asperiores aperiam
                    beatae inventore. Ipsa obcaecati est quasi doloribus animi qui voluptates fugit architecto, vero
                    unde natus neque molestiae? Deserunt a nulla nostrum aperiam voluptatibus dolor sint quae nam? Velit
                    hic quidem laboriosam, vel molestias quae optio tenetur libero non officiis dicta architecto
                    possimus iste minima aspernatur dolor commodi unde autem voluptatem. Quisquam excepturi libero
                    ratione amet? Molestiae dolorem vel corrupti eius, quaerat non quibusdam fuga reprehenderit est
                    accusantium eos minima, earum iusto nostrum! Laudantium harum error dolor deleniti molestiae quidem
                    atque, veritatis eos sapiente adipisci. Porro, recusandae?</p>
            </div>
        </div>

        <div class="productRight">
            <div class="price">
                <p>19,99 €</p>
            </div>
            <div class="stock">
                <p>Vorrätig</p>
            </div>
            <div>
                <input type="number" name="amount" id="amount" min="0", max="20">
            </div>
            <div class="toSCart">
                <button class="btn-toSCart"  @onclick="addToCart">In den Warenkorb</button>
            </div>
            <div>
                <p>Anzahl im Warenkorb: @alreadyInShoppingCart</p>
            </div>
        </div>
    </div>
    <div class="rating">
        <!-- Not Implemented -->
    </div>
</div>


@code {
    [Parameter]
    public string Id {get; set;}

    //Only for test
    
    private Product product;
    private int alreadyInShoppingCart = 0;
     List<ShoppingCartItem> shoppingCart;


    public async void addToCart() {
        //Get LocalStorage ShoppingCart
        shoppingCart.Add(new ShoppingCartItem(product.Pid, 2));
        shoppingCart.Add(new ShoppingCartItem(1244, 321));

        await JSRuntime.InvokeAsync<string>("localStorage.setItem", "shoppingCart", JsonSerializer.Serialize(shoppingCart));

    }



    protected override async Task OnInitializedAsync()
    {
        // create request object
        var request = new HttpRequestMessage(HttpMethod.Get, "debugData/Product.json");

        // add authorization header
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", "my-token");

        // add custom http header
        //request.Headers.Add("My-Custom-Header", "foobar");

        // send request
        using var httpResponse = await Http.SendAsync(request);

        // convert http response data to UsersResponse object
        product = await httpResponse.Content.ReadFromJsonAsync<Product>();
        
        
        

        var jsonSC = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "shoppingCart");
        shoppingCart = JsonSerializer.Deserialize<List<ShoppingCartItem>>(jsonSC);
        
        foreach(var item in shoppingCart) {
            Console.WriteLine("itemPid:" + item.Pid + "      productPid:" + product.Pid);
            if(item.Pid == product.Pid) {
                alreadyInShoppingCart = item.Amount;
            }
        }
        
        
        
        
        
        /*
        //Local Storage Test
        //var set = await JSRuntime.InvokeAsync<string>("localStorage.setItem", "key", JsonSerializer.Serialize(response));
        //var get = await JSRuntime.InvokeAsync<Product>("localStorage.getItem", "key");

        //Console.WriteLine(get.Pid);
        //var delete = await JSRuntime.InvokeAsync<string>("localStorage.removeItem", "key");    
        await set("key", JsonSerializer.Serialize(response));
        Console.WriteLine("GET: " + await get("key"));
        await delete("key");

        */
    }


    /*

    public async Task set(string key, string value) {
        await JSRuntime.InvokeAsync<string>("localStorage.setItem", key, value);
    }

    public async Task<string> get(string key) {
        string get = await JSRuntime.InvokeAsync<string>("localStorage.getItem", key);
        return get;
    }

    public async Task delete(string key) {
        await JSRuntime.InvokeAsync<string>("localStorage.removeItem", key);  
    } 
 */   
 


}