@page "/product/{Id}"

@using System.Collections.Generic
@using TrouvailleFrontend.Shared.Models
@using TrouvailleFrontend.Shared.Classes


@inject IJSRuntime JSRuntime
@inject ILocalStorage localStorage
@inject IHttpRequest httpRequest

<div>
    <div class="product">

        <div class="productLeft">
            <div class="pImage">
                <img class="pLogo" src="assets/svg/trouvailleLogoBucketMinimized.svg" alt="">
            </div>
        </div>

        <div class="productMiddle">
            <div class="productName">
                <h1>Produktname ID: @Id</h1>
            </div>
            <div class="productDesciption">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vitae facere id asperiores aperiam
                    beatae inventore. Ipsa obcaecati est quasi doloribus animi qui voluptates fugit architecto, vero
                    unde natus neque molestiae? Deserunt a nulla nostrum aperiam voluptatibus dolor sint quae nam?</p>
            </div>
        </div>

        <div class="productRight">
            <div class="price">
                <p>19,99 €</p>
            </div>
            <div class="stock">
                <p>Vorrätig</p>
            </div>
            <div class="amountToAdd">
                <input type="number" min="1" max="20" value="1"
                    @onchange="@((ChangeEventArgs e) => Amount = int.Parse((string) e.Value))" />
            </div>
            <div class="toSCart">
                <button class="btn-toSCart" @onclick="@addToCart">In den Warenkorb</button>
            </div>
            <div class="amountInSC">
                <p>Anzahl im Warenkorb: @amountInShoppingCart</p>
            </div>
        </div>
    </div>
    <div class="rating">
        <!-- Not Implemented -->
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }


    private ProductModel product;
    private int amountInShoppingCart = 0;
    public int Amount { get; set; } = 1;

    List<ShoppingCartItemModel> shoppingCart = new List<ShoppingCartItemModel>();


    public async void addToCart()
    {
        bool alreadyInShoppingCart = false;
        foreach (var item in shoppingCart)
        {
            if (item.ProductId == product.ProductId)
            {
                alreadyInShoppingCart = true;
                item.Cardinality += Amount;
                amountInShoppingCart = item.Cardinality;
            }
        }
        if (!alreadyInShoppingCart)
        {
            shoppingCart.Add(new ShoppingCartItemModel(){ProductId = product.ProductId, Cardinality = Amount});
            amountInShoppingCart += Amount;
        }

        await localStorage.SetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart", shoppingCart);

    }


    protected override async Task OnInitializedAsync()
    {   
        //set Token
        Token token = new Token();
        token.AuthToken = "293862934582983523958";
        await localStorage.SetStorageAsync<Token>("authToken", token);

        var response = await httpRequest.GetRequestAsync("debugData/Product.json");
        product = await response.Content.ReadFromJsonAsync<ProductModel>();
        
        //TODO REMOVE LATER WHEN GETTING A REAL PRODUCT WITH THE API
        product.ProductId = int.Parse(Id);

        shoppingCart = await localStorage.GetStorageAsync<List<ShoppingCartItemModel>>("shoppingCart");
        foreach (var item in shoppingCart)
        {
            if (item.ProductId == product.ProductId)
            {
                amountInShoppingCart = item.Cardinality;
            }
        }

        //Post Request Example
        var testResponse = await httpRequest.PostRequestAsync("debugData/PostExample", shoppingCart);
    }
}