<div class="header center-flex">
    <div class="grid-main">
        <div class="logo"><img src="assets/svg/trouvailleLogoFull.svg" alt="error"></div>
        <div class="search-bar center-flex">
            <label style="margin-right: 30px;">search</label>
            <input type="text" style="width: 70%;">
        </div>
        <div class="variable-icons center-flex">
            <div class="shoping-cart">shoping</div>
            @if (Token != null)
            {
                <div class="username">user</div>
            }
            else
            {
                <div class="login">Login</div>
                <div class="register">Register</div>
            }
            <div class="user"> user-s</div>
        </div>
    </div>
</div>


@code{
    [ParameterAttribute]
    public string Token { get; set; }
}
