@using Blazorise

@inject NavigationManager NavMan
@inject ILocalStorage local

<div class="header">
    <div class="logo" @onclick="ToMain"></div>
    <div class="search-bar">
        <input id="search" type="text">
        <button>
            <Icon Name="IconName.Search" />
        </button>
    </div>
    <div class="variable-icons">
        <div class="dropdown-indicator">
            <Icon Name="IconName.ShoppingCart" />
            <div class="dropdown-content">
                <a href="/ShopingCart">Shopping Cart
                    <Icon Name="IconName.ShoppingBasket" />
                </a>
                <a href="/Checkout">Checkout
                    <Icon Name="IconName.CreditCard" />
                </a>
            </div>
        </div>
        @if (_token != null)
        {
            <div class="dropdown-indicator">
                <Icon Name="IconName.User" />
                <div class="dropdown-content">
                    <a href="/Account">Account Settings <i class="fas fa-user-cog  "></i></a>
                </div>
            </div>
        }
        else
        {
            <div class="dropdown-indicator">
                <Icon Name="IconName.Lock" />
                <div class="dropdown-content">
                    <a href="/Account">Register
                        <i class="fas fa-clipboard-list"></i>
                    </a>
                    <a href="/Account">Login
                        <Icon Name="IconName.Key" />
                    </a>
                </div>
            </div>
        }
    </div>
</div>


@code{
    private TokenModel _token { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var temp = await local.GetStorageAsync<TokenModel>("authToken");
        if (temp != default(TokenModel))
        {
            _token = temp;
        }
    }


    private void ToMain()
    {
        NavMan.NavigateTo("/");
    }
}