.header {
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0%;
  z-index: 1000;

  width: 100%;
  height: 100px;

  background-color: white;

  border: solid 2px red;

  padding-left: 10%;
  padding-right: 10%;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "logo search variable-icons";
}

.variable-icons {
  grid-area: variable-icons;
  display: flex;
}

.variable-icons > * {
  margin-right: 10px;
}

.logo {
  grid-area: logo;
}

.logo:hover {
    transition: 1s;
    box-shadow: 1px 7px 6px rgba(118,206,118,0.88);
}

.search-bar {
  grid-area: search;
  display: flex;
}

.shoping-cart {
  grid-area: "cart";
}
