@using Blazorise

@inject NavigationManager NavMan
@inject ILocalStorage local

<div class="header">
    <div class="logo" @onclick="ToMain"></div>
    <div class="search-bar">
        <input id="search" type="text">
        <button>
            <Icon Name="IconName.Search" />
        </button>
    </div>
    <div class="variable-icons">
        <div class="dropdown-indicator">
            <Icon Name="IconName.ShoppingCart" />
            <div class="dropdown-content">
                <a href="/ShopingCart">Shoping Cart</a>
                <a href="/Checkout">Checkout</a>
            </div>
        </div>
        @if (Token != null)
        {
            <div class="dropdown-indicator">
                <Icon Name="IconName.User" />
                <div class="dropdown-content">
                    <a href="/Account">Account Settings</a>
                </div>
            </div>

        }
        else
        {
            <div class="dropdown-indicator">
                <Icon Name="IconName.Lock" />
                <div class="dropdown-content">
                    <a href="/Login">Login</a>
                    <a href="/Register">Register</a>
                </div>
            </div>
        }
    </div>
    @* </div> *@
</div>


@code{
    public TokenModel Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Token = await local.GetStorageAsync<TokenModel>("authToken");
    }


    private void ToMain()
    {
        NavMan.NavigateTo("/");
    }
}