@using Blazorise

@inject NavigationManager navMan
@inject ILocalStorage local
@inject IJSRuntime js
@inject ILocalStorage localStorage

<div class="header">
    <div class="header-content">
        <div class="logo" @onclick="ToMain"></div>
        <div class="variable-icons">
            <div class="search-bar">
                <input id="search" type="text" placeholder="Search" @onkeydown="Enter">
                <a href="" @onclick=Search>
                    <Icon Name="IconName.Search" />
                </a>
            </div>
            <div class="dropdown-indicator">
                <Icon Name="IconName.ShoppingCart" />
                <div class="dropdown-content">
                    <a href='@(_tokenIsValid ? "/shopingcart" : "/login")'>Shopping Cart
                        <Icon Name="IconName.ShoppingBasket" />
                    </a>
                    <a href='@(_tokenIsValid ? "/checkout" : "/login")'>Checkout
                        <Icon Name="IconName.CreditCard" />
                    </a>
                </div>
            </div>
            @if (_tokenIsValid)
            {
                <div class="dropdown-indicator">
                    <Icon Name="IconName.User" />
                    <div class="dropdown-content">
                        <a href="/account">Account Settings <i class="fas fa-user-cog"></i></a>
                        <a @onclick="Logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            }
            else
            {
                <div class="dropdown-indicator">
                    <Icon Name="IconName.Lock" />
                    <div class="dropdown-content">
                        <a href="/Register">Register
                            <i class="fas fa-clipboard-list"></i>
                        </a>
                        <a href="/Login">Login
                            <Icon Name="IconName.Key" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@code {
    private TokenModel _token { get; set; }
    private bool _tokenIsValid;

    protected override async Task OnInitializedAsync()
    {
        _token = await local.GetStorageAsync<TokenModel>("authToken");
        Console.WriteLine(_token.AuthToken);
        Console.WriteLine(_token.expireDate);
        Console.WriteLine(_token.expireDate > DateTime.Today);
        _tokenIsValid = (_token != null && _token.AuthToken != "" && _token.expireDate > DateTime.Today);
    }
    private void ToMain()
    {
        navMan.NavigateTo("/");
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Search();
        }
    }

    private void Search()
    {
        js.InvokeVoidAsync("alert", "Search is under construction ¯\\_(ツ)_/¯");
    }

    private async void Logout()
    {
        await localStorage.RemoveStorageAsync("authToken");
        navMan.NavigateTo("/", forceLoad: true);
    }
}