<div class="footer">
    <a href="https://www.nsa.gov/">Datenschutz</a>
    <a href="https://wasm.continuation-labs.com/d3demo/">AGB</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="last">Impressum</a>
</div>