.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0%;
  z-index: 1000;

  width: 100%;
  height: 100px;

  padding-left: 10%;
  padding-right: 10%;

  background-color: var(--background-contrast);
}

.variable-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 70px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45%;
  height: 100%;
}

.search-bar input {
  width: 89%;
  height: 30%;

  border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  width: 10%;
  height: 30%;

  border: none;
}

.search-bar button:hover {
  background-color: var(--foreground-contrast);
  color: white;
}

.search-bar button:focus {
  outline: none;
}

::deep .search-bar i {
  font-size: 1.3rem;
  vertical-align: middle;
}

::deep i {
  font-size: 2rem;
}

.dropdown-indicator:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--background-contrast);
}
