.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0%;
  z-index: 1000;

  width: 100%;
  height: 100px;

  background-color: var(--background);

  box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.521);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 75%;
  height: 100%;
}

.variable-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 70px;
}

.search-bar > input {
  height: 100%;

  margin: 0;

  background-color: transparent;

  width: 100%;

  transition: 0.5s;

  /* visibility: hidden; */
  box-shadow: none;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* gap: 10px; */

  padding: 0;
  margin: 0;
  height: 30px;
  width: 600px;
}

.search-bar > input {
  height: 100%;

  margin: 0;

  background-color: transparent;

  width: 75%;

  transition: 0.5s;

  box-shadow: none;
}

.search-bar > select {
  height: 100%;

  margin: 0;

  background-color: transparent;

  width: 25%;

  transition: 0.5s;

  box-shadow: none;
}

.search-bar > i {
  margin-right: 10px;
}

::deep .search-bar:hover > i {
  color: var(--foreground-contrast);
}

::deep i {
  font-size: 2rem;
}

.dropdown-indicator {
  border: none;

  cursor: pointer;
}

.dropdown-indicator:hover {
  color: var(--foreground-contrast);
}

.dropdown-indicator:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

::deep .dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: black;
  padding: 10px;

  text-decoration: none;
  font-size: 15px;
  gap: 5px;
}

::deep .dropdown-content a i {
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: var(--background-contrast);
}

.logo {
  width: 27%;
  height: 100%;
  background-color: black;

  -webkit-mask: url(assets/svg/trouvailleLogoFullMinimized.svg) no-repeat center;
  mask: url(assets/svg/trouvailleLogoFullMinimized.svg) no-repeat center;

  transition: 0.3s;
}

.logo:hover {
  background-color: var(--foreground-contrast);
  cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  color: var(--foreground-contrast);
}
