@inherits LayoutComponentBase

<style>
    :root {
        --background: #effaf9;
        --background-contrast: #bdefea;
        --foreground: #3ba99c;
        --foreground-contrast: #278bce;
        --accent: #8980f5;
        --stars: #ff5101a8;
        --stars-shadow: #ff7c0169;
        --warning: rgba(255, 60, 0, 0.781);
        --box-shadow: rgba(136, 136, 136, 0.521);
    }
</style>

<div class="page">

    <CustomHeader @ref=_header />

    <CascadingValue Value=@_header>
        <div class="content center-flex">
            @Body
        </div>
    </CascadingValue>

    <CustomFooter />
</div>


@code{
    private CustomHeader _header;
}
