@inherits LayoutComponentBase

<style>
    :root {
        --background: #effaf9;
        --background-contrast: #bdefea;
        --foreground: #3ba99c;
        --foreground-contrast: #278bce;
        --accent: #8980f5;
    }
</style>

<div class="page">

    <CustomHeader />

    <div class="content center-flex">
        @Body
    </div>

    <CustomFooter />
</div>
