.page {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;

  padding-left: 2%;
  padding-right: 2%;
}

.content{
    display: flex;

    height: 200vh;
    width: 95%;

    border: solid 2px yellowgreen;

    margin-top: 10px;
    margin-bottom: 10px;
}

::deep .center-flex{
    align-items: center;
    justify-content: center;
}