.page {
  display: flex;

  align-items: center;
  justify-content: flex-start;

  flex-direction: column;

  width: 100%;

  background-color: var(--background);
  background-color: white;

  --border-height: 18px;
}

.content {
  display: block;

  min-height: 100vh;

  width: 75%;
  height: 100%;

  margin-top: 10px;
  margin-bottom: 10px;

  padding: 0;
}

::deep .center-flex {
  align-items: center;
  justify-content: center;
}

::deep .center-flex-horizontal {
  justify-content: center;
}

::deep .button-style {
  background-color: var(--background-contrast);
  
  border: none;
  border-bottom: solid 2px var(--accent);
  border-radius: 10px;

  box-shadow: 0px 3px 7px 0px rgba(136, 136, 136, 0.521);
}

::deep .button-style:hover {
  background-color: var(--foreground-contrast);
  color: white;
}

::deep .button-style:active {
  outline: none;
  background-color: var(--foreground);
}

::deep .button-style:focus {
  outline: none;
}

::deep .button-style:hover + .arrow {
  border-left: solid var(--border-height) var(--foreground-contrast);
}

::deep .button-style:active + .arrow {
  outline: none;
  border-left: solid var(--border-height) var(--foreground);
}

::deep .button-style:focus + .arrow {
  outline: none;
}

::deep .arrow {
  width: 0;
  height: 0;

  border-top: solid var(--border-height) transparent;
  border-bottom: solid var(--border-height) transparent;
  border-right: solid var(--border-height) transparent;
  border-left: solid var(--border-height) var(--background-contrast);
}

::deep .overlay-under-construction {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(206, 206, 206, 0.11);

  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.47);
}

::deep .overlay-under-construction > p {
  color: red;
  transform: rotate(-25deg);
  font-size: 2.5rem;
  text-align: center;
}

::deep .main-container-style {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0px rgba(136, 136, 136, 0.521);

  border-radius: 10px;
}

::deep input[type="number"],
::deep input,
::deep select {
  border: none;

  border-bottom: solid 1px var(--accent);

  box-shadow: inset 2px -2px 2px 0px rgba(182, 181, 181, 0.24);
}

::deep input[type="number"]:focus,
::deep input:focus,
::deep select:focus {
  outline: none;
}

::deep input[type="number"]:disabled,
::deep input:disabled,
::deep select:disabled {
  border-bottom: solid 1px red;
}
