<div class="product">
    <img class="product-picture center-flex" src="assets/svg/trouvailleLogoBucketMinimized.svg"
        alt="Image loading Error">
    <div class="info-wrapper">
        <div class="product-name info-field"></div>
        <div class="product-stars info-field"></div>
        <div class="product-cost info-field"></div>
        <div class="product-amount-left info-field"></div>
        <div class="product-short-info info-field"></div>
    </div>
</div>

@code{
    [ParameterAttribute]
    public string Name { get; set; }
    [ParameterAttribute]
    public string Vost { get; set; }
    [ParameterAttribute]
    public string ShortInfo { get; set; }
    //TODO props for stars, info, amount-left will
}