@namespace TrouvailleFrontend.Components.ShoppingCart

@using TrouvailleFrontend.Shared.Models
@inject NavigationManager navMan

<div class="products-overview">
    <div class="overview">
        @if (Products != null && ItemData != null)
        {
            @for (int i = 0; i < Products.Count(); i++)
            {
                string temp = Products[i].ProductId;
                <ProductViewSC CartID="@ItemData[i].ProductId" Name=@Products[i].Name Price=@Products[i].Price
            Stock=@Products[i].InStock Cardinality=@ItemData[i].Cardinality Picture=@Products[i].Picture
            IsDisabled=@Products[i].IsDisabled />
            }
        }
    </div>
    <div class="overview-under">
        <div class="total">
            <b>Total: @_totalPrice</b>
        </div>
        <div class="total">
            <button @onclick="@ToCheckout"><span>Checkout</span></button>
        </div>
    </div>
</div>

@code{
    private string _totalPrice;
    [Parameter]
    public decimal TotalPrice { get; set; }
    [Parameter]
    public List<ProductModel> Products { get; set; }
    [Parameter]
    public List<ShoppingCartItemModel> ItemData { get; set; }

    protected override void OnParametersSet()
    {
        _totalPrice = CurencyManager.ParseToCurency(TotalPrice);
    }

    private void ToCheckout()
    {
        navMan.NavigateTo("/checkout", forceLoad: true);
    }
}
